* {
    margin:0px;
    padding:0px;
}
body
{
    background-color: rgb(60,60,60);
    max-width:100%;
}

nav{
    width:100%;
    height:100px;
    background-color:gray;
    max-width:100%;
}
nav h1{
    text-align:center;
        line-height:100px;
        font-size:xx-large;
        color:aliceblue;
    max-width:100%;
}

.imagebox{
    width:410px;
   height:400px;
    background-color:snow;
    border:2px solid snow;
    //border-color:snow;
    //border-style:solid;
    //border-width:2px;
    position:relative;
    //top:50px;
    left:40px;
    margin:15px;
    float:left;
    padding:0px 20px 0px 20px;
    max-width:100%;
}

div img {
    width:100%;
    height:auto;
    max-width:100%;
}

.imagebox:hover {
    border: 2px solid black;
    max-width:100%;
}
